{
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "pluginSearchDirs": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
